body {
  margin: 0;
  background-color: #FDFBF9;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url(header3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.0;
}
.header-section {
  position: relative;
  padding: 5% 0 5%;
  /* max-width: 640px; */
  margin-left: 5%;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  font-family: 'Belista';
  font-size:3.5vw
}
h1 {
  font-weight: 10;
}
h2 {
  font-weight: 10;
}
.section-wrap {
  position: relative;
  background-color: white;
}
.section {
  position: relative;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 40px;
  font-family: 'Sen', sans-serif;
  text-align: center;
  opacity: 0;
}

.fadeinimage
{
  opacity: 0;
}

.fadeintext
{
  opacity: 0;
}

@font-face {
  font-family: "Belista";
  src: url("Belista.ttf");
}