body {
  margin: 0;
  background-color: #FDFBF9;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 40%;
  width: 100%;
  background-image: url(header3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header::before {
  content: '';
  position: absolute;
  background-color: MidnightBlue;
  opacity: 0.0;
}
.header-section {
  position: relative;
  max-height: 720px;
  padding:10% 0 10% 0 ;
  margin-left: 5%;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  font-family: 'Belista';
  font-size:3.5vw
}
table{
  font-size: 1em;
}
h1 {
  font-weight: 10;
  margin: 0
}
h2 {
  font-weight: 10;
}

p {
  font-size: 1.2em;
}
.section-wrap {
  position: relative;
  background-color: white;
}
.section {
  position: relative;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 40px;
  font-family: 'Sen', sans-serif;
  text-align: center;
  opacity: 0;
}

.fadeinimage
{
  opacity: 0;
}

.fadeintext
{
  opacity: 0;
}

.divider
{
  position: relative;
  width: 50%;
  max-width: 480px;
  background-image: url(divider4.svg);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.asterisk
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  max-width: 20px;
  background-image: url(asterisk.svg);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@font-face {
  font-family: "Belista";
  src: url("Belista.ttf");
}

td {
  white-space: nowrap;
}

tr {
  padding: 0 15px;
}